<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>新規会,員登録</h1>

    <div th:if="${error}" class="error-message" th:text="${error}"></div>
    <div th:if="${param.registered}" class="success-message">
        できた
    </div>

	<form th:action="@{/createac}" method="post" th:object="${user}">
		<p>
		    <label>名前：</label>
		    <input type="text" th:field="*{name}" required />
		</p>
	    <p>
	        <label>メールアドレス：</label>
	        <input type="email" th:field="*{email}" required />
	    </p>
	    <p>
	        <label>パスワード：</label>
	        <input type="password" th:field="*{password}" required />
	    </p>
	    <p>
	        <label>パスワード（確認）：</label>
	        <input type="password" name="passwordConfirm" required /> 
	    </p>
	    <button type="submit">登録す る</button>
	</form>

    <p><a th:href="@{/login}">ログイン画面に戻る</a></p>
</div>
</body>
</html>